{% extends 'base_generic.html' %}

{% block content %}

    <h1 class="mx-auto text-left" style="font-weight: bold;">
        Login
    </h1>
    <div class="mx-auto" style="text-align: justify; font-weight: normal; font-style: italic;">
        There are two accounts available to test the site with anyone of them.<br>
        The login inputs, for both account, should be filled automatically.<br>
        Mostly, all you need to do is to press login on the chosen account.<br>
        If the values doesn't filled automatically, get them from the page source.
    </div>

    {% if form.errors %}
        <p class="ms-5 text-danger">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div id="next-url" style="display: none;">{{ next }}</div>
            <script>
                window.location.href = document.getElementById("next-url")?.innerText;
            </script>
        {% endif %}
    {% endif %}
<div class="d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-md-center">
    <div class="mt-3">
        <h3 class="text-left my-2" style="font-weight: bold;">Login as 'King': </h3>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label class="text-left mt-2" for="username-1" style="font-weight: bold;">Username: </label>
            <input type="text" name="username" autocapitalize="none" maxlength="150" 
                id="username-1" class="form-control" value="King" required autocomplete="username">
            <!-- Add autocomplete="username" for the username field -->
    
            <label class="text-left mt-2" for="password-1" style="font-weight: bold;">Password: </label>
            <input type="password" name="password" id="password-1" class="form-control" 
                value="django123" required autocomplete="current-password">
            <!-- Add autocomplete="current-password" for the password field -->
    
            <input class="btn btn-outline-dark mt-2" type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
    
    <div class="mt-3">
        <h3 class="text-left my-2" style="font-weight: bold;">Login as 'Queen': </h3>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label class="text-left mt-2" for="username-2" style="font-weight: bold;">Username: </label>
            <input type="text" name="username" autocapitalize="none" maxlength="150" 
                id="username-2" class="form-control" value="Queen" required autocomplete="username">
            <!-- Add autocomplete="username" for the username field -->
    
            <label class="text-left mt-2" for="password-2" style="font-weight: bold;">Password: </label>
            <input type="password" name="password" id="password-2" class="form-control" 
                value="django123" required autocomplete="current-password">
            <!-- Add autocomplete="current-password" for the password field -->
    
            <input class="btn btn-outline-dark mt-2" type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
    
</div>

{% endblock %}